@{
    ViewData["Title"] = "Application Confirmed";
}
<h1>Your Application Has Been Submitted</h1>
<br />
<h3>An email has been submitted to your email address @ViewBag.email.</h3>
<h3>Your reference number is @ViewBag.guid</h3>
<h3>@ViewBag.firstName @ViewBag.lastName will be contacted shortly.</h3>