@{
    ViewData["Title"] = "Application Confirmed";
}

<h1>Your Application Has Been Submitted</h1>

<h2>An email has been submitted to your email address @ViewData["email"] with reference # @ViewData["guid"]</h2>

<h3>@ViewData["firstName"] @ViewData["lastName"] will be contacted as soon as possible.</h3>