@model AdMedWeb.Models.User

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post" id="leftContent">
    <p style="color: red"><strong>@TempData["Error"]</strong></p>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input asp-for="Username" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" value="Submit">Register</button>
</form>