@model AdMedWeb.Models.User

@{
    ViewData["Title"] = "Register";
}
<h1>Register</h1>
<form method="post" id="leftContent">
    <p style="color: red"><strong>@TempData["Error"]</strong></p>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input asp-for="Username" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputConfirmPassword1">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputFirstName1">First Name</label>
        <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputLastName1">Last Name</label>
        <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" value="Submit">Register</button>
</form>