@model AdMedWeb.Models.ContactForm

@{
    ViewData["Title"] = "About AdMed";
}
<h1>@ViewData["Title"]</h1>

<h4>Making your life easier...</h4>

<p>
    Morbi quis fermentum lorem, eget varius libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed blandit arcu dolor, in ultricies nisl lobortis nec.
    In neque diam, maximus sed pulvinar finibus, cursus iaculis lectus. In eros turpis, mollis et laoreet ac, mattis ut arcu. Mauris id mollis velit. Pellentesque ex mauris, porta quis urna in, mattis eleifend arcu.
    Etiam sagittis posuere tortor vel elementum. Fusce eget justo efficitur, semper est vitae, accumsan eros.
    Mauris malesuada in eros non sollicitudin. Ut vulputate justo ipsum, nec lobortis odio sagittis et. Suspendisse commodo urna lacus, vitae pretium dui cursus sed.
</p>

<h4>Providing a Central Hub for Information...</h4>

<p>
    Morbi quis fermentum lorem, eget varius libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed blandit arcu dolor, in ultricies nisl lobortis nec.
    In neque diam, maximus sed pulvinar finibus, cursus iaculis lectus. In eros turpis, mollis et laoreet ac, mattis ut arcu. Mauris id mollis velit. Pellentesque ex mauris, porta quis urna in, mattis eleifend arcu.
    Etiam sagittis posuere tortor vel elementum. Fusce eget justo efficitur, semper est vitae, accumsan eros.
    Mauris malesuada in eros non sollicitudin. Ut vulputate justo ipsum, nec lobortis odio sagittis et. Suspendisse commodo urna lacus, vitae pretium dui cursus sed.
</p>

<h4>Improving Efficency...</h4>

<p>
    Morbi quis fermentum lorem, eget varius libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed blandit arcu dolor, in ultricies nisl lobortis nec.
    In neque diam, maximus sed pulvinar finibus, cursus iaculis lectus. In eros turpis, mollis et laoreet ac, mattis ut arcu. Mauris id mollis velit. Pellentesque ex mauris, porta quis urna in, mattis eleifend arcu.
    Etiam sagittis posuere tortor vel elementum. Fusce eget justo efficitur, semper est vitae, accumsan eros.
    Mauris malesuada in eros non sollicitudin. Ut vulputate justo ipsum, nec lobortis odio sagittis et. Suspendisse commodo urna lacus, vitae pretium dui cursus sed.
</p>