@{
    ViewData["Title"] = "Home";
}
<body>
    <div class="videoBgWrapper">
        <video loop muted autoplay poster="~/video/index.mp4" class="videoBg" playsinline>
            <source src="~/video/index.mp4" type="video/mp4">
        </video>
    </div>
    <div class="index-content">
        <h1>Welcome to AdMed</h1>
        <p>Apply Today!</p>
        <a asp-action="Upsert" asp-controller="Applications" class="btn btn-primary">Apply Here</a>
    </div>
</body>