@{
    ViewData["Title"] = "Home";
}
<body>
    <div class="videoBgWrapper">
        <video loop muted autoplay poster="~/video/index.mp4" class="videoBg" playsinline>
            <source src="~/video/index.mp4" type="video/mp4">
        </video>
    </div>
</body>