@page
@model AdMedWeb.Models.ContactForm

<h2>Contact Form Submitted</h2>
<hr>
<p>
    Your message has been submitted, and a representative will review your query shortly.
</p>
<br>
<p>
    Please keep your submission id: @ViewBag.id
</p>