@model AdMedWeb.Models.EmergencyContact

@{
    var title = "Primary Contact";
}

<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2 backgroundWhite border">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
            title = "Edit Primary Contact";
        }

        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="LastName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FirstName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Relationship"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Relationship" class="form-control" />
                    <span asp-validation-for="Relationship" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PhysicalAddress"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PhysicalAddress" class="form-control" />
                    <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PostalAddress"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PostalAddress" class="form-control" />
                    <span asp-validation-for="PostalAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PostCode"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PostCode" class="form-control" />
                    <span asp-validation-for="PostCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IdentityNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IdentityNumber" class="form-control" />
                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HomeTelephoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HomeTelephoneNumber" class="form-control" />
                    <span asp-validation-for="HomeTelephoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="WorkTelephoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="WorkTelephoneNumber" class="form-control" />
                    <span asp-validation-for="WorkTelephoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CellTelephoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CellTelephoneNumber" class="form-control" />
                    <span asp-validation-for="CellTelephoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">
                        @(Model.Id != 0 ? "Update" : "Create")
                    </button>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-4">
                        <a asp-action="Index" class="btn-custom form-control">Back to List</a>
                    </div>
                }
            </div>
        </div>
    </div>

</form>