@model AdMedWeb.Models.ViewModels.AdminResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div style="margin-left: 10%; margin-right: 10%;">
    <h2>@ViewData["Title"]</h2>
    <h4>Reset your password.</h4>
    <hr />
    <div class="form-group">
        <form method="post" id="leftContent">
            <input type="hidden" asp-for="Username" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Username</label>
                <label type="text" class="form-control">@Model.Username</label>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <a href="/Account/" class="btn btn-primary" style="text-align: center; width: 45%; float: left;">Return to Details</a>
            <button type="submit" class="btn btn-danger" style="text-align: center; width: 45%; float: right;">Reset</button>
        </form>
    </div>
</div>